@import "../../assets/styles/settings/colors";

:host {
  display: flex; margin: 40px auto 0; max-width: 800px; transition: 500ms opacity ease-in;
  align-items: center; flex-flow: row wrap; justify-content: center;
}
:host.solved { opacity: 0; }
.piece { display: flex; margin: 10px; width: 100px; flex-direction: column; }
.piece-used .column-active { background-color: $grey; }
.piece-active .column-active { background-color: $wood-light; }
.row { display: flex; flex-direction: row; justify-content: center; }
.column { border: 1px solid $white; width: 20px; height: 20px; }
.column-active { background-color: $wood; }
