@import "../../assets/styles/settings/colors";
@import "../../assets/styles/settings/dimensions";

:host {
  position: absolute; border: 1px solid $wood-light; width: $frameWidth; height: $frameHeight;
  background-color: $wood-lightest; transform: translateX(-1px);
}
:host.frame-forbidden {
  background: $wood-lightest url('../../assets/img/lamp.png') 50% 50% no-repeat; background-size: contain;
}

:host.frame-1 { background-color: $piece-1; }
:host.frame-2 { background-color: $piece-2; }
:host.frame-3 { background-color: $piece-3; }
:host.frame-4 { background-color: $piece-4; }
:host.frame-5 { background-color: $piece-5; }
:host.frame-6 { background-color: $piece-6; }
:host.frame-7 { background-color: $piece-7; }
:host.frame-8 { background-color: $piece-8; }
:host.frame-9 { background-color: $piece-9; }
:host.frame-10 { background-color: $piece-10; }
