@import "../../assets/styles/settings/colors";
@import "../../assets/styles/settings/dimensions";

:host {
  position: absolute; border: 1px solid $wood-light; width: $frameWidth; height: $frameHeight;
  background-color: $wood-lightest; transform: translateX(-1px);
}
:host.frame-forbidden {
  background: $wood-lightest url('../../assets/img/lamp.png') 50% 50% no-repeat; background-size: contain;
}
