@import "../../assets/styles/settings/colors";

:host {
  position: absolute; top: 0; left: 0; width: 150px; transition: 500ms opacity ease-in;
  text-align: left;
}
:host.solved { opacity: 0; }
p { text-align: center; color: $grey; }
img { display: block; margin: 0 auto 5px; }
